.header {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
    box-shadow: 0 6px 5px -5px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    grid-area: header;
}