.chat {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  gap: 10px;
  grid-template-areas:
      "header"
      "main"
      "message-input";
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 7%;
}

.main-logo {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  position: fixed;
  z-index: 1;
  height: 30px;
  width: 100px;
  left: 0;
  top: 0;
}

.logo-wrapper {
  background-color: #fafbfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
